/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery div {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** section #portfolio **/

.filter-button p {
	color: #1D6154;
}

#portfolio .filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
		margin-bottom: 25px;
	}
	
	.filter-button {
		background-color: #FFFEF8;
		transition: background-color 0.3s ease;
		border-radius: 60px;
		border: 1px solid #1D6154;
		padding: 10px 28px;
		margin: 10px;
		font-weight: 700;
	}
	
	
	.filter-button.active {
		background-color: #1D6154;
	}
	
	.filter-button.active p {
		color: #FFFFFF;
}

a {
	text-decoration: none;
	color: #3D3D3D;
}

/** LOG IN**/
.login-container {
	max-width: 400px;
	margin: 100px auto;
	padding: 20px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: #ffffff;
	border-radius: 8px;
}

.login-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.login-container p {
	text-align: center;
}

.login-container a {

	font-family: 'Work Sans';
	text-decoration: underline;
}

.login-container form {
	display: flex;
	flex-direction: column;
}

.login-container label {
	margin-top: 10px;
	font-family: 'Work Sans';
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.login-container input[type="submit"] {
	cursor: pointer;
	font-family: 'Syne';
}

.notification {
	padding: 15px;
	border-radius: 5px;
	margin-top: 15px;
	text-align: center;
	font-weight: bold;
}

.notification.success {
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #c3e6cb;
}

.notification.error {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
}

.logout {
 display: none;
}

/** dialogue:modal**/
dialog {
	border-radius: 10px;
	border-color: #FFF;
	width: 500px;
	height: 550px;
}

dialog button {
	color: white;
	background: #1D6154;
	font-family: 'Syne';
	border-radius: 60px;
	border-color: transparent;
	width: 237px;
		height: 36px;
}

dialog {
	position: relative;
}

#close-dialog {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

dialog>button {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}

#media-dialog {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
}

.modal-title {
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Work Sans';
	font-size: 26px;
}

.modal-gallery {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}

.modal-gallery figure {
    flex: 0 0 33.333333%; 
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-gallery figure img {
    max-width: 100%; 
    height: auto;
}

.modal-gallery img {
	width: 75px;
	height: 100px;
	object-fit: cover;
}

figure {
    position: relative;  
}

.delete-work {
    position: absolute;
    top: 10px; 
    right: 10px;
    cursor: pointer; 
}

.separator-line {
    width: 420px;
    height: 1px;
    background: #B3B3B3;
    margin-top: 20px; 
    margin-bottom: 20px; 
    align-self: center; 
}

.edit-container {
	display: flex;
	align-items: center;
	gap: 4px;
}

.edit-portfolio {
	display: flex;
	align-items: center;
	gap: 10px;
}

#introduction,
#portfolio {
	position: relative;
}

.edit-container {
	position: absolute;
	bottom: -30%;
	padding: 58px;
}

#portfolio h2+.edit-portfolio {
	position: absolute;
	top: 9px;
	left: 63%;
}

/** section preview**/
.add-photo-title {
	font-family: 'Work Sans';
	font-size: 26px;
	margin-bottom: 25px;
		margin-left: 90px;
}

.add-photo-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background: #E8F1F6;
	gap: 6px;
    margin-bottom: 10px;
	margin-left: 80px;
}
	
	.add-photo-content .fa-regular,
	.far {
		font-weight: 400;
		margin-bottom: 20px;
}

.add-photo-content input[type="file" i] {
	border-radius: 50px;
	background: #CBD6DC;
	color: #306685;
	text-align: center;
	border: none;
	font-family: 'Work Sans';
	cursor: pointer;
	padding: 15px;
}
	
.add-photo-content img {
	display: none;
}
	
.add-photo-content p {
		margin-bottom: 10px;
}

.btn-file {
    display: none; 
}

.preview-file {
	width: 129px;
	height: auto;
}

.button-add-photo {
    cursor: pointer;
    border-radius: 50px;
    background: #CBD6DC;
    color: #306685;
    text-align: center;
    display: flex;
    font-family: 'Work Sans';
}

.button-add-photo::before {
    content: "+ Ajouter photo";
    margin: 15px;
}

.button-add-photo:hover {
    background: #306685;
    color: #CBD6DC;
}

.input-group {
    display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
	margin-top: 15px;
}

.input-wrapper {
 margin-top: 10px;
}

.add-photo-content input[type="text" i] {
	border: none;
	outline: none;
}

.input-wrapper {
	position: relative;
	display: inline-block;
}

#title,
#categoryId {
	width: 420px;
	height: 51px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	outline: none;
	margin-left: 80px;
}

.input-group label {
	margin-left: 80px;
}

.input-wrapper label {
	margin-left: 80px;
}

.input-wrapper svg {
    position: absolute;
    right: 50px; 
    top: 60%;
    transform: translateY(-50%);
    pointer-events: none; 
}

#photo-form {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#close-add-photo-dialog {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#photo-form .separator-line {
	margin-left: 80px;
}

.validate {
    text-align: center;
    margin-left: 85px;
}

.validate button {
    background: #A7A7A7;
    width: 237px;
    height: 36px;
}

/** black-bloc**/
.black-bloc {
	font-family: 'Work Sans';
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: black;
	width: 100vw;
	height: 60px;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	display: none;
}

.blackbloc-edition {
	color: white;
	font-family: 'Work Sans';
	font-weight: 400;
}

